<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<h1>Cadastro</h1>
	<form action="/users" method="POST">
		<input type="email" name="email">
		<input type="password" name="password">
		<input type="submit" name="submit">
	</form>
</body>
</html>