<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body class="container">
	<div class="jumbotron">
		<h1>welcome</h1>
	</div>
<!-- 	<p>clica<link rel="stylesheet" type="text/css" href="user/new"></p><br>
	<p><link rel="stylesheet" type="text/css" href="login"></p> -->
	<a href="user/new">Sign up</a><br>
	<a href="login">Login</a>
</body>
</html>